.navButtons {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.navButtons > a {
  color: white;
  text-decoration: none;
  margin: 0 0.2em;
}

.navButtons > a:hover {
  opacity: 0.5;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 120px));
  grid-gap: 40px;
  justify-content: center;
}

.productsItem > img {
  margin-bottom: 0;
}

.btn-qty {
  margin: 0.2em;
  padding: 0px 7px;
}
